body{
    margin:10% 0px 0px 0px;
    background-color: #fefefe;
    color: #262626;
    font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.66;
}
nav {
    background-color:rgb(10, 10, 10);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    overflow: hidden;
}
#logo-img{
    float: left;
    height:45px;
    width:auto;
}
.nav-link {
    color:rgb(240, 240, 240);
    float: left;
    color: #f2f2f2;
    font-size:15px;
    line-height: 45px;
    padding: 0px 5px;
    text-decoration: none;
}
#user-account-logo{
    background-color: white;
    height:45px;
    width:auto;
}
.nav-link:hover {
    background: #ddd;
    color: black;
}
#profile-img{
    float:left;
    width: 45px;
    height: auto;
    margin-right:10px;
    border-radius: 50%;
}
figure{
    height: fit-content;
    width: fit-content;
    padding:0px;
    margin:5px;
}
#profile-description{
    padding-bottom:10px;
    font-size: 12px;
}
figcaption{
    padding:0px;
    font-size: .93333rem;
    color: #595959;
    line-height: 1.5;
}
h1{
    text-align:justify;
    width:80%;
    margin:0px auto;
}
main{
    width:70%;
    margin:0px auto;
}
.article-img{
    width:100%;
    height:auto;
}

.figure-aside{
    box-sizing: border-box;
    margin:10px 10px 10px 0px;
    float: left;
    width:40%;
    transition: color .2s ease-in-out;
}
.img-aside{
    width:100%;
    height:auto;
}
.figure-aside:hover{
    opacity:0.7;
}
.aside-caption{
    border-bottom: rgb(200, 200, 200) solid 1px;
    border-right: rgb(200, 200, 200) solid 1px;
    border-left: rgb(200, 200, 200) solid 1px;
    padding:10px;
    transition: color .2s ease-in-out;
}
figcaption > a:hover{
    color:springgreen;
}
ul{
    list-style-type: none;
}
span{
    font-weight: bold;
}
footer{
    background-color:rgb(10, 10, 10);
}
footer > section{
    width:80%;
    margin:auto;
}
input{
    width:100%;
    margin-top: 20px;
}
ul{
    display: inline-block;/*The inside of an inline-block is formatted as a block box, and the box itself is formatted as an inline box. */
    font-weight: 700;
    text-decoration: none;
    transition: color 0.4s ease 0s;
    color: rgb(230, 230, 230);
    font-size: 18px;
}
li{
    font-size: 14px;
}

/*En un contenedor siempre tiene que haber un elemento al cual relativizar todos los demas
ya sea el contenedor, hijo, o texto.*/
 